
 {% extends 'base.html' %}

{% block head %}Provincias{% endblock %}

{% block headcontenct %}
    <ul class="breadcrumb">
        <li>
            <a href="/">INICIO</a>
        </li>
        <li>
             <a href="#">Provincia</a>
        </li>
    </ul>
    {% endblock %}

{% block contect %}

    <div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2><i class="glyphicon glyphicon-th-large"></i> Listado de Provincias</h2>

                <div class="box-icon">
                    
                    <a href="#" class="btn btn-minimize btn-round btn-default"><i
                            class="glyphicon glyphicon-chevron-up"></i></a>
                    <a href="#" class="btn btn-close btn-round btn-default"><i
                            class="glyphicon glyphicon-remove"></i></a>
                </div>
            </div>
            <div class="box-content">
                <div class="form-actions">
                        
            <div class="clearfix"></div><br>
            <div class="table-responsive table">

                <table class="table table-striped table-bordered bootstrap-datatable datatable responsive tablas">
                   <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Primer secretario</th>
                            
                        </tr>
                        </thead>
                        <tbody>
                        {% for p in listado %}
                            <tr>
                                <td>{{ p.id }}</td>
                                <td>{{ p.nombreProvincia }}</td>
                                <td>{{ p.primersecretario }}</td>
                               
                            </tr>
                        {% endfor %}
                        </tbody>
                </table>
            </div>
        </div>
        </div>
    </div>
    <!--/span-->

    </div><!--/row-->
</div>

{% endblock %}

